<div class="container my-4">
  <%= simple_form_for(@club) do |f| %>
    <%= f.input :name %>
    <%= f.input :zip_code %>
    <%= f.input :city %>
    <%= f.input :street %>
    <%= f.input :phone_number %>
    <%= f.input :email %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit, class:"btn search-button" %>
  <% end %>
</div>
