<div class="container justify-content-center mx-auto">
  <h1 class="text-center my-5 strong bg-gradient border-bottom border-3 border-dark"> Our Clubs </h1>
  <% @clubs.each do |club| %>
    <% if club.status == true %>
      <div class="card club-card mb-5 shadow rounded-3" style="max-width: 1200px;">
        <div class="row g-0 border">
          <div class="col-md-4">
            <% if !club.photos.empty? %>
              <%= cl_image_tag club.photos.first.key, crop: :fill, class:"d-block img-thumbnail img-fluid rounded-start", style:"height:300px; width:400px;px object-fit: fill;" %>
            <% else %>
              <img src="https://www.axicorp.de/fileadmin/_processed_/6/b/csm_s-motive_AdobeStock_223415515_e9a05aadfa.jpeg" class="img-thumbnail d-block w-100" alt="..." style="height:300; width:400; crop: :fill;">
            <% end %>
          </div>
          <div class="col-md-8">
            <div class="card-body d-flex flex-column justify-content-between">
              <div>
                <h1 class="card-title"><%= club.name %></h1>
                <p class="card-text"><%= club.description.truncate(80) %></p>
                <%= link_to "", club_path(club), class:"stretched-link"%>
              </div>
              <p class="card-text"><small class="text-muted"><%= club.address %></small></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
