<div class="container w-75 h-25">
  <h1 class="text-center mt-3 bg-secondary bg-gradient text-light"><%= @club.name %></h1>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <%= render "shared/carousel", venue: @club %>
    </div>
    <div class="col-2"></div>
  </div>

  <div class="row my-5 justify-content-between">
    <p class="mt-3">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    <% if current_user.is_owner? || current_user.is_admin?%>
      <%= link_to "edit club",edit_club_path(@club), class:"club-card my-5 btn d-flex justify-content-center", style:"color:white;background-color:#9cbfdd;"%>
    <% end %>

    <div class="col-6">
      <%= link_to "Chat with the Club", new_club_chatroom_path(@club), class:"btn btn-success club-card d-block mb-3" %>
    </div>
    <div class="col-6 text-center">
      <button type="button" class="btn btn-success club-card w-100" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">See the venues</button>
      <div class="modal fade modal-m" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h1>All our Facilities</h1>
            <% @venues.each do |venue| %></ul>
              <div class="card shadow club-card bg-light m-4" style="max-width: 540px; height: 130px;">
                <div class="row">
                  <div class="col-4">
                    <img src="https://www.gardasee.de/sites/default/files/teaserimg/tennis_adobestock_285441870_0.jpeg" class="h-100 img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><%= venue.name %>     <%=venue.price%>€</h5>
                      <p class="card-text"><%= venue.description[0, 50] %></p>
                      <%= link_to "", venue, class:"stretched-link" %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="row my-5 justify-content-between">
    <h4 class="mb-3"><%= @club.address%></h2>
    <div style="width: 100%; height: 450px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
