<%= form_tag(search_path, method: :get) do %>
  <%= select_tag :category, options_for_select(['All', 'Football', 'Basketball', 'Tennis', 'Badminton', 'Pool', 'Bowling']), include_blank: 'Select Category' %>
  <%= text_field_tag :query, params[:query], placeholder: "Search..." %>
  <%= submit_tag "Search" %>
<% end %>

<% if @results.any? %>
  <h3>Search Results:</h3>
  <% @results.each do |result| %>
    <p><%= result.title %></p>
  <% end %>
<% else %>
  <p>No results found.</p>
<% end %>
