<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="background-color:#9cbfdd">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand fa-solid fa-volleyball btn-hover" do %>
    <% end %>
    <form class="d-flex">
      <%= form_tag(search_path, method: :get) do %>
        <div class="btn btn-light"><%= select_tag :category, options_for_select(['All', "Football", "MartialArts", "Bouldering", "Kegel", "Bowling", "Volleyball"]) %></div>
        <%= text_field_tag :query, params[:query], placeholder: "Enter City or Zip-code", class:"form-control me-2" %>
        <%= submit_tag "Search", class:"btn btn-light"%>
      <% end%>
    </form>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">


        <% if user_signed_in? %>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "Jack.jpg", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <p class="fs-7 d-block p-2 text-dark"><%= current_user.first_name %></p>
              <%= link_to "All venues", venues_path, class: "dropdown-item border d-block p-2 bg-secondary text-white" %>
              <%= link_to "Dashboard", dashboard_path, class: "dropdown-item border d-block p-2 bg-secondary text-white" %>
              <%= link_to "Messages", chatrooms_path, class: "dropdown-item border d-block p-2 bg-secondary text-white" %>
              <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item border d-block p-2 bg-secondary text-white" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
