<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="background-color:#9cbfdd">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand fa-solid fa-volleyball btn-hover" do %>
    <% end %>
    <div class="d-flex justify-content-center mt-3 w-100">
      <%= form_tag(search_path, method: :get) do %>
        <%= text_field_tag :query, params[:query], placeholder: "Your post code", class:"rounded"%>
        <%= select_tag :category, options_for_select(['All', 'categroy1', 'Football', 'Basketball', 'Tennis', 'Badminton', 'Pool', 'Bowling']), include_blank: 'Select Category'%>
        <%= submit_tag "Search", class:"rounded"%>
      <% end%>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">


        <% if user_signed_in? %>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?cs=srgb&dl=pexels-andrea-piacquadio-774909.jpg&fm=jpg", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <p class="fs-7 d-block p-2 text-dark"><%= current_user.first_name %></p>
              <%= link_to "All venues", venues_path, class: "dropdown-item border d-block p-2 bg-secondary text-white" %>
              <%= link_to "Dashboard", dashboard_path, class: "dropdown-item border d-block p-2 bg-secondary text-white" %>
              <%= link_to "Messages", "#", class: "dropdown-item border d-block p-2 bg-secondary text-white" %>
              <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item border d-block p-2 bg-secondary text-white" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
