<div class="container">
  <div class="col">
    <div class="card">
    <div class="d-flex flex-row-reverse bg-black">
      <% if current_user.is_owner? || current_user.is_admin? %>
        <%= link_to "Submit a new Club", new_club_path(@club), class:"btn btn-secondary me-3 mt-3", style:"z-index: 1;" %>
      <% end %>
      </div>
      <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
          <% if current_user.photo.present? %>
            <%= cl_image_tag current_user.photo.key, alt:"Generic placeholder image", class:"img-fluid img-thumbnail mt-4 mb-2", style:"width: 150px; z-index: 1" %>
          <% else %>
            <%= image_tag "acc_default.png", class:"img-fluid img-thumbnail mt-4 mb-2", style:"width: 150px; z-index: 1" %>
          <% end %>
            <%= link_to "Edit profile", edit_user_registration_path(@user), class:"btn btn-success", style:"z-index: 1;" %>
        </div>
        <div class="ms-3" style="margin-top: 130px;">
          <h5><%= current_user.first_name %> <%= current_user.last_name %></h5>
          <p><%= current_user.city %></p>
        </div>
      </div>
      <div class="p-4 text-black" style="background-color: #f8f9fa;">
        <div class="d-flex justify-content-end text-center py-1">
        </div>
      </div>
      <div class="card-body p-4 text-black">
        <div class="mb-5">
          <p class="lead fw-normal mb-1">About</p>
          <div class="p-4 border border-secondary" style="background-color: #f8f9fa;">
            <p class="font-italic mb-1"><%= current_user.email %></p>
            <p class="font-italic mb-1">Lives in <%= current_user.city %>, <%= current_user.zip_code %></p>
            <p class="font-italic mb-1"><%= current_user.street %></p>
            <p class="font-italic mb-0"><%= current_user.phone_number %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
