<div class="container my-3">
  <h6>First Name: <%= current_user.first_name %></h6>
  <h6>Last Name: <%= current_user.last_name %></h6>
  <h6>Phone Number: <%= current_user.phone_number %></h6>
  <h6>E-mail address: <%= current_user.email %></h6>
  <h6>Street Address: <%= current_user.street %></h6>
  <h6>Zip Code: <%= current_user.zip_code %></h6>
  <h6>City: <%= current_user.city %></h6>
</div>
