<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 3e617c7d05f47b80b8d8151bc3796b300f9d4309
<!DOCTYPE html>
<html>
<head>
  <title>SportSpot</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    body {
      background: url(<%= asset_path('turnhalle3.jpg') %>) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

     .center {
      display: flex;
      justify-content: center;
      margin-top: 100px; /* Adjust the margin-top value as needed */
    }
  </style>
</head>
<body>


<div class="container">
  <%= form_tag(search_path, method: :get, class: "form-inline") do %>
    <div class="form-group mr-2">
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Your post code" %>
    </div>
    <div class="form-group mr-2">
      <%= select_tag :category, options_for_select(['All', 'Football', 'Basketball', 'Tennis', 'Badminton', 'Pool', 'Bowling']), class: "form-control", prompt: 'Select Category' %>
    </div>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% raise %>
  <% end %>
</div>



</body>
</html>
<<<<<<< HEAD
=======
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
>>>>>>> 54cc423c5c4de123eff4b22cd7b53bb59f0d8c80
=======
>>>>>>> 3e617c7d05f47b80b8d8151bc3796b300f9d4309
