<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("1.jpg") %>);">
  <h1 class="ms-5"><strong>SportSpot brings your Sports booking with just few clicks</strong>!</h1>
  <p class="ms-5 mb-5">Book, Play and Conquer!</p>
  <div class="d-flex justify-content-center mt-3 w-100">
    <%= form_tag(search_path, method: :get) do %>
      <%= text_field_tag :query, params[:query], placeholder: "Your post code", class:"rounded"%>
      <%= select_tag :category, options_for_select(["All", "Football", "MartialArts", "Bouldering", "Kegel", "Bowling", "Volleyball"])%>
      <%= submit_tag "Search", class:"rounded", style:"color:ehite;background-color:#9cbfdd;"%>
    <% end%>
  </div>
</div>

<div class="row my-5 d-flex justify-content-center">
  <h2 class="text-center mb-5">Ever played here?</h2>
    <% @clubs.each do |club| %>
    <div class="card club-card mb-5 shadow rounded-3" style="max-width: 1200px;">
      <div class="row">
        <div class="col-4 ps-0">
          <img src="https://www.gardasee.de/sites/default/files/teaserimg/tennis_adobestock_285441870_0.jpeg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-8">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h1 class="card-title"><%= club.name %></h1>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <%= link_to "", club_path(club), class:"stretched-link"%>
            </div>
            <p class="card-text"><small class="text-muted"><%= club.address %></small></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
