
<!DOCTYPE html>
<html>
<head>
  <title>SportSpot</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    body {
      background: url(<%= asset_path('turnhalle3.jpg') %>) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

     .center {
      display: flex;
      justify-content: center;
      margin-top: 100px; /* Adjust the margin-top value as needed */
    }
  </style>
</head>
<body>


<div class="container">
  <%= form_tag(search_path, method: :get, class: "form-inline") do %>
    <div class="form-group mr-2">
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Your post code" %>
    </div>
    <div class="form-group mr-2">
      <%= select_tag :category, options_for_select(['All', 'Football', 'Basketball', 'Tennis', 'Badminton', 'Pool', 'Bowling']), class: "form-control", prompt: 'Select Category' %>
    </div>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% raise %>
  <% end %>
</div>



</body>
</html>
