<div class="container">
  <h1>homepage</h1>

  <div class="row justify-content-center w-75">
    <div class="my-3">
        <p> Noicee
          <%= form_tag(search_path, method: :get) do %>
              <%= text_field_tag :query, params[:query], placeholder: "Your post code"%>
              <%= select_tag :category, options_for_select(['All', 'categroy1', 'Football', 'Basketball', 'Tennis', 'Badminton', 'Pool', 'Bowling']), include_blank: 'Select Category'%>
              <%= submit_tag "Search"%>
            <% end%>
        </p>
    </div>
  </div>
  <%= render "shared/map", markers: @markers%>
</div>
