<div class="container bg-light shadow my-5 align-content-center">
  <div class="px-3 pt-3 d-flex justify-content-between">
    <%= link_to "Back to Club", club_path(@venue.club), class:"btn club-card", style:"color:white;background-color:#9cbfdd" %>
    <h6 class="badge pt-2 rounded-pill bg-secondary">Price: <%=@venue.price%>€ / Hour</h6>
  </div>
  <div class="row">
    <div class="col-6 mx-3 p-3">
      <%= render "shared/carousel", venue: @venue %>
    </div>
    <div class="col-5 p-3 text-center d-flex flex-column justify-content-between">
      <div>
        <h1><%= @venue.name %></h1>
        <h4>Your <%= @venue.category %> Arena</h4>
      </div>
      <%= @venue.description %>
      <div>
        <% if current_user.is_owner? || current_user.is_admin? %>
          <div class="btn-group w-100" role="group" aria-label="Basic example">
            <%= link_to "edit venue",edit_venue_path(@venue), class:" m-1 soft_blue btn" %>
            <a><%= link_to "delete venue",venue_path(@venue), class:"m-1 soft_blue btn", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %></a>
          </div>
        <% else %>
          <button type="button " class="club-card btn btn-success", data-bs-toggle="modal" data-bs-target="#exampleModal">Request new booking</button>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Booking request</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <%= simple_form_for [@venue, @booking] do |f| %>
                    <%= f.input :date, as: :date, html5: true %>
                    <%= f.input :time, as: :time, :minute_step => 30 %>
                </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <%= f.submit 'Request Booking', class: "btn btn-primary" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <h3 class="text-center my-5 strong bg-gradient border-bottom border-3 border-dark">Reviews</h3>
    <div class="container">
      <div class="border m-5 p-3">
        <% @reviews.each do |review| %>
          <h4 class="bg-light bg-gradient"><%= review.title %></h4>
          <div>
            <% review.rating.times do %>
              <i class="fa-solid fa-star" style="color: #fecb3e;"></i>
            <% end %>
          </div>
          <p class="border-bottom p-2"><%= review.comment %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
