<div class="row">
<div class="col-7 pt-5 ps-5">
    <%= link_to "See club for the location", club_path(@venue), class:"btn btn-dark" %>
  </div>
  <div class="col-4 pt-3 text-center">
    <h1><%= @venue.name %></h1>
    <h4>Your <%= @venue.category %> Arena</h4>
  </div>
</div>
<div class="row">
  <div class="col-6 p-5">
    <%= render "shared/carousel"%>
  </div>
  <div class="col-6 p-5 text-center">
    <%= @venue.description %>
    <% if current_user.is_user? %>
      <button type="button" class="m-5 btn d-flex justify-content-center", style="color:white;background-color:#9cbfdd;" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Request new booking
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Booking request</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <%= simple_form_for [@venue, @booking] do |f| %>
              <div class="modal-body">
                <%= f.input :date, as: :date, html5: true %>
                <%= f.input :time, as: :time, html5: true %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <%= f.submit 'Request Booking', class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
